/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Добавьте глобальные стили, если это необходимо */
body {
  font-family: system-ui, sans-serif;
  background-color: #f9f9f9; /* Убедитесь, что фон однотонный */
  color: #333; /* Основной цвет текста */
}
